<h2>List</h2>

<select #teams (change)="onSelected(teams.value)">
  <option value="default">----</option>
  <option *ngFor="let item of sources" [value]="item.entityId">
    {{ item.name }}
  </option>
</select>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef>timestamp</th>
    <td mat-cell *matCellDef="let element">{{ element.timestamp }}</td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>value</th>
    <td mat-cell *matCellDef="let element">{{ element.value }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>sensor</th>
    <td mat-cell *matCellDef="let element">{{ element.type }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
